.my_input{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.my-input--margin{
    margin: 1em;
    color: black !important;
}

.modal-loading{
    width:300px;
    height: 300px;
    
    /* display: flex; */

}

.mark{
    font-size: 40px;
    text-align: center;
}

.modal-footer--custom{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

.btn-action{
    /* margin: 1em !important; */
    width: 100px !important;
}

h1{
    color: #000000;
}

.loading-text{
    color: #000000;
    font-size: 32px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pac-loader{
    min-width: 400px;
    min-height: 250px;
}

.features-list{
display: flex;
/* min-height: 200px; */
flex-wrap: wrap;

}

.t-space{
    margin:1em;
}

.l-space{
    justify-content: space-between;
    width: 150px;
}
.login-btn{
    width: 100%;
}

.mark-text{
    text-align: center;
    font-size: 36px;
}
/* .modal-container{
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    width:300px;
    height: 300px;
} */