.myConfetti {
    /* position: absolute; */
    z-index: 1000000;
    /* justify-content: center;
    text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 0.1vh;
}


.uploaded-projects-list{
    max-height: 300px !important;
    overflow-y: auto;
}

.btn--selected{
    color:greenyellow !important;
    /* background-color: yellow !important; */
}

.my-card--footer{
    justify-content: center;
    text-align: center;
}

